<header class="cabecalho-cliente">
  <div class="logo">
    <img src="images/logoMT.png" alt="logo ManuTech" class="logo-icone">
    <span class="logo-texto">ManuTech</span>
  </div>

  <nav class="menu-cliente">
    <a [routerLink]="['/solicitacaoCliente/listar']" class="menu-item">Minhas Solicitações</a>

  </nav>

  <a href="#" class="botao-sair" (click)="sair($event)">Sair</a>
</header>

<div class="conteudo-central">
  @if (solicitacao) {
    <h1>Pagamento do Serviço</h1>
    <div class="card">
      <div class="form-group">
        <label>Equipamento:</label>
        <p>{{ solicitacao.descricaoEquipamento }}</p>
      </div>
      <div class="form-group">
        <label>Defeito:</label>
        <p>{{ solicitacao.descricaoDefeito }}</p>
      </div>

      <h3>Valor a Pagar:</h3>
      <div class="destaque-valor">
        <strong>R$ {{ solicitacao.orcamento | number:'1.2-2' }}</strong>
      </div>

      <div class="acoes">
        <button type="button" class="btn-pagar" (click)="confirmarPagamento()">Confirmar Pagamento</button>
        <a class="botao-voltar" [routerLink]="['/solicitacaoCliente/listar']">Voltar</a>
      </div>
    </div>
  }
</div>