*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 100%;
  max-width: 1200px;
  background: rgb(252, 242, 229);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 40px 80px rgba(245, 110, 38, 0.5);
  height: 520px;
  margin: 30px auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.area-formulario {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.painel-esquerdo {
  padding: 25px 55px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icone{
  width: 40px;
  height: 40px;
  border: 2px solid none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icone svg{
  width: 20px;
  height: 22px;
  stroke: #db5b16;
}
.nome-logo {
  color: #db5b16;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.abas{
  display: flex;
  gap: 40px;
  margin-bottom: 42px;
}

.aba{
  background: none;
  border: none;
  color: rgb(211, 123, 16);
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.aba.login{
  color: rgb(211, 123, 16);
  border-bottom-color: rgb(211,123,16);
}

.campo{
  display: flex;
  align-items: center;
  gap: 14px;
  background: #c7c7c7;
  border: 1px;
  border-radius: 30px;
  padding: 14px 20px;
  margin-bottom: 20px;
}

.campo-icone{
  width: 28px;
  height: 28px;
  border: 1.5px solid none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo-icone svg{
  width: 14px;
  height: 14px;
  stroke: rgb(211, 123, 16);
  fill:none;
}

.campo input{
  background: none;
  border: none;
  outline: none;
  color: rgb(24, 23, 23);
  font-size: 15px;
  width: 100%;
}

.campo input::placeholder{
  color: rgb(82, 80, 80);
  font-weight: 600;
}

.linha-acoes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.esqueci-senha{
  color: rgb(82, 80, 80);
  font-size: 17px;
  text-decoration: none;
   font-weight: 600;
}

.botao-entrar{
  background: linear-gradient(135deg, #db5b16, #c22e08);
  color: #fff;
  border: none;
  padding: 14px 44px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}