*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

/*CAIXA PRINCIPAL*/
.card {
  width: 100%;
  max-width: 1200px;
  background: rgb(252, 242, 229);
  border-radius: 20px;
  display: flex;
  border: none;
  box-shadow: 0 40px 80px rgba(245, 110, 38, 0.5);
  min-height: 520px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.painel-esquerdo {
  padding: 25px 55px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 1;
}

/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icone{
  width: 48px;
  height: 48px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-imagem {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.area-formulario {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}
.nome-logo {
  color: #db5b16;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.3px;  
  text-shadow: 0 0 10px rgba(255, 106, 26, 0.553), 0 0 24px rgba(255, 89, 0, 0.35);
 }

/*LOGIN E CADASTRO*/
.abas {
  display: flex;
  gap: 40px;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 42px;
}

.aba {
  background: none;
  border: none;
  color: rgb(211, 123, 16);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
}

.abas::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 3px;
  background: #d57d10;
  transition: left 0.3s ease, width 0.3s ease;
}

.abas:has(.aba:last-child:hover)::after {
  left: 108px;
  width: 100px;
}

/*CAMPOS DO LOGIN*/
.campo{
  display: flex;
  align-items: center;
  gap: 14px;
  background: #c7c7c7;
  border-radius: 30px;
  padding: 14px 20px;
}

.campo-icone{
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo-icone svg{
  width: 14px;
  height: 14px;
  stroke: rgb(211, 123, 16);
  fill:none;
}

/* INPUTS */
.campo .form-control{
  background: transparent;
  border: none;
  outline: none;
  color: rgb(24, 23, 23);
  font-size: 15px;
  width: 100%;
  padding: 6px 0;
  box-shadow: none;
}

.campo .form-control:focus {
  background: transparent;
  border: none;
  box-shadow: none;
}

.campo .form-control::placeholder {
  color: rgb(82, 80, 80);
  font-size: 15px;
}

.linha-acoes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.esqueci-senha{
  color: rgb(82, 80, 80);
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
}

.esqueci-senha:hover{
  color: #db5b16;
}

/* BOTÕES*/
.botao-entrar {
  background: linear-gradient(135deg, #db5b16, #c22e08);
  color: #fff;
  border: none;
  padding: 14px 44px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}

.botao-entrar:hover {
  background: linear-gradient(135deg, #c22e08, #db5b16);
  color: #fff;
}

.botao-entrar:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* DECORAÇÃO*/
.arcos-decorativos {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
.arco {
  position: absolute;
  border-radius: 80%;
  top: 50%;
  right: -40%;
  transform: translateY(-50%);
}
.arco-1 {
  width: 680px;
  height: 700px;
  background-color: #ffb17a;
  z-index: 1;
}
.arco-2 {
  width: 600px;
  height: 680px;
  background-color: #f5822b;
  z-index: 2;
}
.arco-3 {
  width: 500px;
  height: 600px;
  background-color: #c22d08;
  z-index: 3;
}

/*AUTOPRRENCHIMENTO DO NAVEGADOR P/ TIRAR FUNDO AMARELO*/
.campo input:-webkit-autofill,
.campo input:-webkit-autofill:hover,
.campo input:-webkit-autofill:focus,
.campo input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #c7c7c7 inset;
  -webkit-text-fill-color: rgb(24, 23, 23);
}

/*BOLINHAS DA ANIMAÇÃO*/
.bolinhas-decorativas {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 450px;
  z-index: 0;
  pointer-events: none;
}
.bolinha {
  position: absolute;
  border-radius: 50%;
  background-color: #f5822b;
  opacity: 0.35;
  animation-name: flutuar;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/*ANIMAÇÃO*/
@keyframes flutuar {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, -20px);
  }
  50% {
    transform: translate(-10px, -35px);
  }
  75% {
    transform: translate(-20px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}