*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecalho{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 64px;
  background: white;
}

.logo{
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.logo-icone{
  width: 38px;
  height: 38px;
  border: 2px solid none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icone svg{
  width: 24px;
  height: 24px;
  stroke: #db5b16;
}

.logo-texto{
  font-size: 25px;
  font-weight: 800;
  color: #db5b16;
  text-shadow: 0 0 10px rgba(255, 106, 26, 0.553), 0 0 24px rgba(255, 89, 0, 0.35);
}

.menu{
  display: flex;
  gap: 15px;
}

.menu-item{
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
}

.botao-entrar{
  background: #db5b16;
  color: rgb(0, 0, 0);
  border: 1.5px solid #db5b16;
  padding: 10px 26px;
  border-radius: 22px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 32px;
}

.home{
  position: relative;
  overflow: hidden;
  min-height: 560px;
  display: flex;
  align-items: center;
  background: linear-gradient(120deg, #ffac80 0%, white 100%);
}

.home-conteudo{
  position:relative;
  max-width: 600px;
  padding: 0 60px;
  color: black;
}

.home-titulo{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-subtitulo{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 36px;
}

.botao-slt{
  background: #db5b16;
  color: black;
  border: none;
  padding: 16px 36px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
